html{
        font-size: 62.5%;
}
button  {
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 10rem;
    margin-left: 30rem;
    cursor: pointer;
    background-color: transparent;
    
   
    }
    .Rock {background-color: white; 
        color: black; 
        border: 0.2rem solid #4CAF50;
       } /* Green */
        .Rock:hover {
            background-color: #4CAF50;
            color: white;
            }

.Paper {background-color: white; 
        color: black; 
        border: 0.2rem solid #008CBA;
       } /* Blue */
       .Paper:hover {
        background-color: #008CBA;
        color: white;
        }

.Scissor{background-color: white; 
        color: black; 
        border: 0.2rem solid #f44336;}/*Red*/
.Scissor:hover {
        background-color: #f44336;
        color: white;
        }

h1{
    text-align: center;
}
.Container{
        display: flex;
        justify-content: space-evenly;
        color: #000;
        font-size: 2.5rem;
}
.Secondary{
        
        /* text-align: center; */
        display: flex;
        /* direction: row; */
        justify-content:space-evenly;
        /* margin-left: 300rem; */
        font-size: 2.5rem;
        
} 
.ternary{
        justify-content: center;
        font-size: 2.5rem;
}
body{
        background-image: url("images/combine1.png" );
        background-repeat: no-repeat;
        background-size:100% 100%;    
    }
    h2 {
        color: revert;
    }

    button:disabled,button[disabled]:hover{
        border: 0.1rem solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

/* @media(max-width:998px){
        html{
                font-size: 55%;
        }
        /* body{
                background-image: url("images/combine1.png" );
                background-repeat: no-repeat;
                background-size:55% 55%;    
            } */
            button  {
                border: none;
                color: white;
                padding: 1.32rem 2.816rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1.408rem;
                margin-top: 8.8rem;
                margin-left: 26.4rem;
                cursor: pointer;
                background-color: transparent;
                
               
                }
}
 */
/* @media(max-width:768px){
        html{
                font-size: 45%;
        }
        /* body{
                background-image: url("images/combine1.png" );
                background-repeat: no-repeat;
                background-size:45% 45%;    
            } */
            button  {
                border: none;
                color: white;
                padding: 1.08rem 2.816rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1.152rem;
                margin-top: 7.2rem;
                margin-left: 21.6rem;
                cursor: pointer;
                background-color: transparent;
                
               
                }
} */

/* @media(max-width:667px){
        html{
                font-size: 30%;
        }
        button  {
                border: none;
                color: white;
                padding: 0.6rem 0.6rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1rem;
                margin-top: 6rem;
                margin-left: 15rem;
                cursor: pointer;
                background-color: transparent;
                
               
                }

} */
